<h1>Quiz</h1>

<div *ngIf="currentQuestion" class="quiz">
  <markdown class="question" [data]="currentQuestion.questionLabel"></markdown>

  <ul class="choices">
    <li *ngFor="let choice of currentQuestion.choices"
      class="choice"
      [ngClass]="{'selected': choice.isSelected}"
      (click)="selectAnswer(choice)">
      {{ choice.label }}
    </li>
  </ul>

  <div *ngIf="isCorrection && choiceSelected">
    <span *ngIf="isRight" class="correction-right">Bonne réponse!</span>
    <span *ngIf="!isRight" class="correction-wrong">Mauvaise réponse</span>
  </div>

</div>