
<div class="q" *ngIf="currentQuestion$ | async as question">
  <h1 class="q-title">Quiz</h1>
  <h2 class="q-subtitle" *ngIf="game$ | async as game">{{ game.currentQuestionIndex + 1 }} / {{ game.nbQuestions }}</h2>

  <markdown class="q-sentence" [data]="question.questionLabel"></markdown>

  <ul class="q-choices" [ngClass]="{'is-answered': question.hasAnswer}">
    <li *ngFor="let choice of question.choices"
        class="q-choice"
        [ngClass]="{'is-selected': choiceSelected === choice.id, 'is-true': choice.isTrue}"
        (click)="selectAnswer(question, choice)">
      {{ choice.label }}
    </li>
  </ul>

  <div>{{ timer$ | async }}</div>
  <div>{{ answerRatioFormated$ | async }}</div>
  <div>{{ answerRatioNumber$ | async }}</div>

</div>
