@import "palette";

:host  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px;
}
.player {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 100px;
  background-color: $color-primary-lightX;
}

.offline {
  color: $color-secondary;
}
