@import "palette";

:host  {
  display: flex;
  min-width: 300px;
  max-width: 500px;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 90px;
}
.player {
  align-self: flex-end;
  flex-grow: 1;
  font-size: .8em;
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50px;
  margin: 5px; 
  padding: 8px 12px;
}

.offline {
  background-color: rgba($color-secondary, .2);
  color: rgba($color-white, .4);
}
 
