@import "palette";

:host  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //margin: -10px;
}
.player {
  background-color: $color-primary-lighter;
  border-radius: 50px;
  //margin: 200px auto 0;
  padding: 10px 20px;
}

.offline {
  color: $color-secondary;
}
 
