@import "settings/palette";

html{
  height: 100%;
  background-image: linear-gradient($color-primary, $color-primary-darker);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

body{
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(-45deg, transparent, rgba($color-secondary, .35));
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  color: $color-grey-light; 
  padding: 15px;
}
