<div class="login">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
    <div class="form-group">
      <label>Nom joueur</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Rejoindre la partie</button>
  </form>

  <div *ngIf="isLoginUsed">Pseudo déjà utilisé</div>

  <!--

  <div class="l-background">
    <div class="l-background-circle-1"></div>
    <div class="l-background-circle-2"></div>
    <div class="l-background-circle-3"></div>
  </div>

   -->

</div>
