
<div *ngIf="displayedData$ | async as data">
  <ul class="player-podium">
    <li *ngFor="let player of data.podium" [ngClass]="{ 'is-current': data.currentPlayer.name === player.name }" class="podium-object">
      <span class="object-rank">{{ player.rank }}</span>
      <span class="object-name">{{ player.name }}</span>
      <span class="object-score">{{ player.score }}</span>
    </li>
  </ul>

  <div *ngIf="!data.isOnPodium">
    <span class="object-rank">{{ data.currentPlayer.rank }}</span>
    <span class="object-name">{{ data.currentPlayer.name }}</span>
    <span class="object-score">{{ data.currentPlayer.score }}</span>
  </div>
</div>
