<div *ngIf="currentQuestion$ | async as currentQuestion">

  <div class="controls">
    <button *ngIf="currentQuestion.hasAnswer" (click)="next()">Question suivante</button>
    <button *ngIf="!currentQuestion.hasAnswer" (click)="showAnswer()">Montrer la réponse</button>
  </div>

  <div>
    <markdown [data]="currentQuestion.questionLabel"></markdown>
    <ul>
      <li *ngFor="let choice of currentQuestion.choices">
        <span [style.color]="choice.isTrue ? 'green' : ''" >{{ choice.label }}</span>
      </li>
    </ul>
  </div>
</div>

<table>
  <tr>
    <th>Joueur</th>
    <th>Score</th>
    <th>Dernière réponse</th>
  </tr>
  <tr *ngFor="let player of allPlayers$ | async" [ngClass]="{ 'is-connectec': player.isConnected }">
    <td>{{ player.name }}</td>
    <td>{{ player.score }}</td>
    <td>{{ player.currentAnswer }}</td>
  </tr>
</table>
