
<div class="q" *ngIf="currentQuestion$ | async as question">


  <div class="controls">
    <button class="btn" *ngIf="question.hasAnswer" (click)="next()">Question suivante</button>
    <button class="btn" *ngIf="!question.hasAnswer" (click)="showAnswer()">Montrer la réponse</button>
  </div>

  <h1 class="q-title">Question visible</h1>
  <h2 class="q-subtitle" *ngIf="game$ | async as game">{{ game.currentQuestionIndex + 1 }} / {{ game.nbQuestions }}</h2>

  <markdown class="q-sentence" [data]="question.questionLabel"></markdown>

  <ul class="q-choices is-small" [ngClass]="{'is-answered': question.hasAnswer}">
    <li *ngFor="let choice of question.choices" class="q-choice" [ngClass]="{'is-true': choice.isTrue}">
      {{ choice.label }}
    </li>
  </ul>

</div>

<table>
  <tr>
    <th>Joueur</th>
    <th>Score</th>
    <th>Dernière réponse</th>
  </tr>
  <tr *ngFor="let player of allPlayers$ | async" [ngClass]="{ 'is-connectec': player.isConnected }">
    <td>{{ player.name }}</td>
    <td>{{ player.score }}</td>
    <td>{{ player.currentAnswer }}</td>
  </tr>
</table>
