// PRINCIPALES
$color-primary: #6C00E6;
$color-primary-lighter: #944bcd;
$color-primary-lightX: #d199ff;
$color-primary-darker: #132454;

$color-secondary: #E60047;
$color-secondary-light: orange;

$color-grey-light: #FFFFFF;
$color-success: green;


// PURPLES-BACKGROUND
$color-purple-1: #B989DE;
$color-purple-2: #A882C9;
$color-purple-3: #F3CFFF;
$color-purple-4: #CCC2FF;

// GRADIENTS
$color-gradient-1: #C21BFC;
$color-gradient-2: #8FDDF5;
