// PRINCIPALES
$color-primary: #6C00E6;
$color-primary-lighter: #d199ff;
$color-primary-darker: #132454;

$color-secondary: #E60047;
$color-secondary-light: orange;

$color-grey-light: #FFFFFF;
$color-success: green;

// GREY
$color-white: #fff;
$color-black: #181818;

// BLUES
$color-blue-1: #242074;
$color-blue-2: #BBDCF9;
$color-blue-3: #556C98;


// PURPLES
$color-purple-1: #B989DE;
$color-purple-2: #A882C9;
$color-purple-3: #F3CFFF;
$color-purple-4: #CCC2FF;
$color-purple-5: #944bcd;
$color-purple-6: #6249B9;

// GRADIENTS
$color-gradient-1: #C21BFC;
$color-gradient-2: #8FDDF5;
$color-gradient-3: #6e2b9b;
$color-gradient-4: #322991;
$color-gradient-fail-1: #DA7B91;
$color-gradient-fail-2: #D93434;
$color-gradient-success-1: #86CC9E;
$color-gradient-success-2: #86AB56;
$color-top-3: #f9db3d;
