// PRINCIPALES
$color-primary: #6C00E6;
$color-primary-lighter: #944bcd;
$color-primary-darker: #132454;

$color-secondary: #E60047;
$color-secondary-light: orange;

$color-grey-light: #FFFFFF;
$color-success: green;

