.btn {
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  list-style: none;
  outline: none;
  color: $color-grey-light;
  background-color: $color-primary-lighter;
  cursor: pointer;
}
