@import "palette";
//
.q-subtitle,
.q-sentence {
  text-align: center;
}

.q-subtitle {
  font-family: $font-text;
  font-size: .9em;
  font-weight: $font-bold;
  margin-top: -3px;
  letter-spacing: 2px;
}

.q-sentence {
  display: block;
  max-width: 800px;
  height: 100px;
  margin: 25px auto;
}

.q-choices {
  display: flex;
  max-width: 680px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;

  &.is-small {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.q-choice {
  @extend .btn;
  height: 40px;
  width: 300px;
  background-image: linear-gradient(45deg, $color-gradient-3, $color-gradient-4);
  color: $color-white;

  &.is-selected {
    background-image: linear-gradient(45deg, $color-gradient-1, $color-gradient-2);
  }
  .is-answered &.is-selected:not(.is-true) {
    background-image: linear-gradient(45deg, $color-gradient-fail-1, $color-gradient-fail-2);
  }
  .is-answered &.is-true {
    background-image: linear-gradient(45deg, $color-gradient-success-1, $color-gradient-success-2);
  }

  .is-small & {
    //width: calc(50% - 25px);
  }
}

.q-station {
  text-align: center;
  .q-timer, .q-number {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid $color-purple-6;
    border-radius: 50%;
    background-color: $color-blue-1;
    font-family: $font-text;
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    h2 {
      //display: none;
      font-size: .8em;
      font-weight: $font-semibold;
      font-style: italic;
      color: $color-purple-6;
    }
    p {
      font-size: 1.2em;
      font-weight: $font-bold;
      color: $color-purple-3;
    }
  }
}
